body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #efefef;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

header {
    background: #333333;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #c47200 2px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #brand{
    float: left;
}

header #brand h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #c47200;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

#welcome{
    min-height: 720px;
    background: url('../img/welcome.JPG') no-repeat 0 -200px;
    text-align: center;
    color: #ffffff;
}

#welcome h1{
    margin-top: 100px;
    font-size: 60px
}

#welcome p{
    padding: 20px;
    font-size: 20px;
}

footer {
    background: #333333;
    color: #ffffff;
    border-top: #c47200 2px solid;
    text-align: center;
    padding: 20px;
}

footer a{
    padding: 0 10px 0 10px;
}

#about{
    min-height: 720px;
    background: url('../img/about.JPG') no-repeat 0 -200px;
    text-align: center;
    color: #ffffff;
}