body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #333333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

header {
    background: #333333;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #c47200 2px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #brand{
    float: left;
}

header #brand h1{
    margin: 0;
    letter-spacing: 10px;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #c47200;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

#resume{
    min-height: 720px;
    background: url('../img/resume.JPG') no-repeat 0 -200px;
    text-align: center;
    color: #ffffff;
}

#resume h1{
    margin-top: 100px;
    font-size: 60px
}

#resume p{
    padding: 20px;
    font-size: 20px;
}

body i:hover{
    color: #c47200;
}

#skills {
    letter-spacing: 5px;
}

#experience {
    letter-spacing: 5px;
}

.skills i{
    padding: 20px;
}

.scrollable{
    display: flex;
    /* background-color: #333333; */
    min-width: 100%;
    min-height: 400px;
    overflow-x: auto;
    /* opacity: .75; */
    margin-top: 30px;
}

.card{
    min-width: 400px;
    margin: 10px;
}
.card h5{
    margin-top: -15px;
}

.card p{
    font-size: 12px;
}

.download{
    margin-top: 20px;
    padding-bottom: 10px;
}

.download a{
    color: #ffffff;
    letter-spacing: 2px;
    /* text-decoration: none; */
}

#about{
    min-height: 720px;
    background: url('../img/about.JPG') no-repeat 0 -200px;
    text-align: center;
    color: #ffffff;
    /* border-bottom: #c47200 2px solid; */
    border-bottom: #a26f2b 2px solid;
}

.bio{
    margin-top: 100px;
    padding: 20px;
    margin-left: 10%;
    margin-right: 25%;
    text-align: left;
    max-width: 50%;
    background-color: #333333; opacity: .75;
    letter-spacing: 1px;
}

footer {
    background: #333333;
    color: #ffffff;
    border-top: #c47200 2px solid;
    text-align: center;
    padding: 10px;
}

footer a{
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px 0 10px;
}

footer a:hover {
    color: #c47200;
}